@font-face {
    font-family: '0xPropo';
    src: url('fonts/0xPropo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #1e1e2e;
  font-family: '0xPropo', sans-serif;
}

.header {
  color: #cba6f7;
  display: flex;
  justify-content: center;
  margin: 40px;
}
